body {
    text-align: center;
}

#calculator-container {
    display: inline-block;
    background-color: gray;
    margin: 16px auto 0 auto;
    box-shadow: 0 0 4px 2px hsl(0, 0%, 60%);
    font-family: 'Lato', sans-serif;
}

#displays-container {
    background-color: white;
    width: 554px;

    position: relative;
}

#displays-container > div {
    white-space: pre-line;
    text-align: right;
    overflow: hidden;
}

#calculator-input-display {
    padding-top: 48px;
    padding-right: 32px;
    font-size: 56px;
}

#calculator-evaluated-display {
    color: hsl(0, 0%, 50%);
    padding: 28px 32px 28px 0;
    font-size: 42px;
}

#buttons-container {
    display: flex;
    background-color: hsl(0, 0%, 96%);

    position: relative;
}

#buttons-container::after {
    content: "";
    box-shadow: inset 0 6px 8px -6px hsl(0, 0%, 50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    position: absolute;
    top: 0;
    left: 0;
}

#buttons-container button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-shadow: 0 0 transparent;
    transition: text-shadow 0.25s;

    position: relative;
    z-index: 1;
}

#buttons-container button:hover {
    text-shadow: 5px 5px hsl(0, 0%, 80%);
}

#buttons-container button::before {
    content: "";
    background-color: hsl(0, 0%, 88%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.6s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#buttons-container button:active::before {
    width: 0px;
    height: 0px;
    opacity: 1;
    transition: 0s;
}

#buttons-container button:not(.material-icons-outlined) {
    font-family: inherit;
}

#number-buttons-container {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 390px;
    height: 560px;
    padding-bottom: 16px;
}

#number-buttons-container > button {
    flex: 1 0 33%;
    order: 4;
    font-size: 42px;
}

#number-buttons-container > button[data-char="0"] {
    order: 1;
}

#number-buttons-container > .decimal-point-button {
    order: 2;
}

#number-buttons-container > .equals-button {
    order: 3;
}

#operator-buttons-container {
    display: flex;
    flex-direction: column-reverse;
    width: 130px;
    border-right: 32px solid hsl(220, 100%, 40%);
    border-left: 2px solid hsl(0, 0%, 88%);
    padding-bottom: 16px;
}

#operator-buttons-container > button {
    color: hsl(220, 100%, 40%);
    flex: 1 0 20%;
    font-size: 28px;
}

#operator-buttons-container > .clear-button {
    display: none;
}

.flash {
    width: 100%;
    height: 100%;
    opacity: 0;

    animation-name: flash;
    animation-duration: 1.5s;

    position: absolute;
    top: 0;
    left: 0;
}

@keyframes flash {
    0% {opacity: 0;}
    15% {opacity: 1;}
    100% {opacity: 0;}
}

.rtl-overflow {
    direction: rtl;
}

.rtl-overflow > span {
    display: inline-block;
    direction: ltr;
}